<article>
  <h2>Create Product</h2>
  <form (ngSubmit)="submit()" [formGroup]="productForm">
    <label>Product name</label>
    <mat-form-field [formControl]="productForm.controls.name">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <label>Product description</label>
    <mat-form-field [formControl]="productForm.controls.description">
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field [formControl]="productForm.controls.category">
      <mat-label>Product category</mat-label>
      <select>
        <option *ngFor="let category of categories | async" [value]="category.id">{{ category.name }}</option>
      </select>
    </mat-form-field>
    <mat-form-field [formControl]="productForm.controls.price"]>
      <mat-label>Product price</mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-form-field [formControl]="productForm.controls.imageUrl">
      <mat-label>Product cover image URL</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Product filter</mat-label>
      <select>
        <option *ngFor="let filter of productFilters | keyvalue" [value]="filter.value">
          {{ filter.key }}
        </option>
      </select>
    </mat-form-field>
    <section class="buttons">
      <button mat-stroked-button color="primary" type="button" (click)="close()">Cancel</button>
      <button mat-flat-button color="primary" type="submit">Done</button>
    </section>
  </form>
</article>