article {
  width: 100vw;
  min-height: 100vh;
  padding-top: 2rem;
  background-color: white;

  h1 {
    font-size: var(--header-font);
  }
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

mat-form-field {
  width: fit-content;
}