<article>
  <h1 mat-dialog-title>Legal Notice</h1>
  <mat-dialog-content class="mat-typography">
    <p>
      This website is operated under the law of the New World Order. By using our services, you acknowledge and accept the following terms and conditions:
    </p>

    <p>
      <strong>1. Privacy</strong>
    </p>
    <p>
      In accordance with the laws and regulations established by the New World Order following the collapse of the European Union and other states in 2040, the rights to privacy and data protection are no longer recognized or upheld. IAC is under no obligation to protect or safeguard the personal information of our customers and may collect, use, and share such information as deemed necessary for the furtherance of our business interests or as required by the government and its agencies. By using our services, you acknowledge and accept the aforementioned circumstances and waive any claim to privacy or data protection with respect to your personal information.
    </p>

    <p>
      <strong>2. Intellectual Property</strong>
    </p>
    <p>
      All intellectual property rights, including but not limited to trademarks, service marks, trade names, logos, domain names, and other distinctive brand features, are the exclusive property of IAC. You may not use any of our intellectual property without our express written consent. By using our services, you acknowledge and accept the aforementioned circumstances and waive any claim to intellectual property rights with respect to our trademarks, service marks, trade names, logos, domain names, and other distinctive brand features.
    </p>

    <p>
      <strong>3. Indemnification</strong>
    </p>
    <p>
      You agree to indemnify, defend, and hold harmless IAC, its affiliates, and their respective officers, directors, employees, and agents from and against any and all claims, damages, obligations, losses, liabilities, costs, or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the Service; (ii) your violation of any term of this Agreement; (iii) your violation of any third-party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that one of your User Submissions caused damage to a third party. This defense and indemnification obligation will survive this Agreement and your use of the Service.
    </p>
    
    <p>
      <strong>4. Governing Law</strong>
    </p>
    <p>
      This Agreement shall be governed by and construed in accordance with the laws of the New World Order, without regard to its conflict of law provisions. You and IAC agree to submit to the exclusive jurisdiction of the courts located within the New World Order to resolve any legal matter arising from this Agreement. Notwithstanding this, you agree that IAC shall still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief) in any jurisdiction.
    </p>

    <p>
      <strong>5. Miscellaneous</strong>
    </p>
    <p>
      This Agreement, together with the Privacy Policy and any other legal notices published by IAC on the Service, shall constitute the entire agreement between you and IAC concerning the Service. If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect. No waiver of any term of this Agreement shall be deemed a further or continuing waiver of such term or any other term, and IAC's failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision. You may not assign this Agreement, by operation of law or otherwise, without IAC's prior written consent. Subject to the foregoing, this Agreement will bind and inure to the benefit of the parties, their successors and permitted assigns.
    </p>


  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-flat-button mat-dialog-close color="primary">Comply</button>
  </mat-dialog-actions>
</article>