ul {
  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-self: center;
  align-self: center;

  justify-items: center;

  grid-template-columns: 1fr 1fr 1fr;

  li {
    display: inline-block;
    vertical-align: top;
    width: min-content;
    a {
      text-decoration: none;
      color: var(--background-color);
  
      div {
        background-color: black;
        overflow: hidden; /* Removing this will break the effects */

        img {
          width: 20vw;
          object-fit: cover;
          aspect-ratio: 1/1;
          -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
          mask-image: linear-gradient(to top, transparent 0%, black 30%);

          transform-origin: 50% 65%;
          transition: transform 0.9s cubic-bezier(.23,.75,.55,.74);

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    
      h3 {
        transform: translate3d(0, -150%, 0);
        bottom: -20px;
        font-size: var(--medium-font);
        font-family: var(--product-font-family);
        font-weight: 500;
      }
    } 
  }
  &:hover {
    cursor: pointer;
  }
}