/* You can add global styles to this file, and also import other style files */

:root {
  --small-font: 0.8rem;
  --medium-font: 1.2rem;
  --large-font: 1.4rem;
  --header-font: 2rem;

  --header-font-family: 'Unica One';
  --normal-font-family: 'Alexandria', sans-serif;

  --text-color: black;
  --background-color: white;
}

html, body {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

a, button {
  font-family: var(--normal-font-family);
  font-weight: 200;
}