
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WebShop-Ang-primary: mat.define-palette(mat.$indigo-palette);
$WebShop-Ang-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WebShop-Ang-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WebShop-Ang-theme: mat.define-light-theme((
  color: (
    primary: $WebShop-Ang-primary,
    accent: $WebShop-Ang-accent,
    warn: $WebShop-Ang-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($WebShop-Ang-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --small-font: 0.8rem;
  --medium-font: 1.4rem;
  --large-font: 2rem;
  --header-font: 4rem;

  --header-font-family: 'Kanit', sans-serif;
  --product-font-family: 'Unica One';
  --normal-font-family: 'Alexandria', sans-serif;

  --text-color: black;
  --background-color: white;
  
  --accent-color: rgb(124, 190, 168);
  --accent-color-hover: rgb(92, 132, 119);
}

html, body {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  background-color: var(--background-color);
}

body {
  z-index: -20;
  background-color: var(--text-color);
}

ul {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

a, button {
  font-family: var(--normal-font-family);
  font-weight: 200;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


ng-icon {
  transform: translate(0, 15%)
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}