article {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-areas: "left right";
  padding-top: 10em;
  justify-items: center;
  width: 100vw;
  min-height: 100vh;

  background-color: var(--background-color);

  section {
    display: grid;
    grid-template-columns: 1fr;
    height: min-content;
    row-gap: 1em;

    grid-column-start: left;
    grid-column-end: right;

    #login {
      font-size: var(--small-font);
      font-weight: 500;
      width: 20rem;
      height: 4rem;
    }
  }
}